In [10]:
from imports_grayscale import *

In [9]:
pd.DataFrame([[46,  0,  0],
       [ 0, 23,  0],
       [ 0, 13, 28]], index = ["True 0","True 1","True 2"], columns = ["Pred 0","Pred 1", "Pred 2"])

        Pred 0  Pred 1  Pred 2
True 0      46       0       0
True 1       0      23       0
True 2       0      13      28